html,
body {
    height: 100%;
}
/* 侧边栏 */
    .slide {
        width: 180px;
        background-color: #222d32;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slide .logo h1 {
        font-weight: 700;
    }

    .slide .logo a {
        display: block;
        height: 50px;
        width: 180px;
        line-height: 50px;
        text-align: center;
        background-color: #367fa9;
        color: #fff;
        font-size: 20px;
    }

    .slide .user {
        padding: 20px 10px;
    }

    .slide .user img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .slide .user span {
        color: #fff;
        margin-left: 10px;
    }
    .slide .menu li a {
        display: block;
        height: 40px;
        color: #666;
        padding-left: 30px;
        border: 4px solid transparent;
        line-height: 40px;
    }
    .slide .menu li.active {
        background-color: #000;
    }

    .slide .menu li.active a {
        color: #fff;
        border-left: 3px solid #367fa9;
    }

    .slide .menu li ol {
        padding-left: 20px;
    }

    .slide .menu li ol a{
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }
/* 侧边栏结束 */

/* 右边菜单 */
.main{
    padding-left: 180px;
}
.main.main-fullscreen{
    padding: 0;
}
.main .header{
    height: 50px;
    background-color: red;
    padding: 12px 20px;
    font-size: 26px;
}
.main .header a{
    color: #fff;
}
.main .content{
    padding: 20px 20px 0;
}